<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
    <!-- Navigation links (hidden by default) -->

    <div id="myLinks">    
    <% if $context != 'LOGIN' %>

      <%= link_to 'Home', users_path %>        

      <% if $context != 'CATEGORIES' %>         
        <%= link_to 'Categories', groups_path %>
      <% end %>

      <% if $context === 'CATEGORIES'  %>         
        <%= link_to 'Add Category', new_group_path %>
      <% end %>
      
      <%= link_to 'Sign Out', destroy_user_session_path %>        
    
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %>        
    <% end %>
    </div>
  


  <div id='navTitle'>
    <a href="#home" class="active"><%= $context %></a>
  </div>

</div>