<!DOCTYPE html>
<html>
  <head>
    <title>Budget_RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <script>
function myFunction() {
  var x = document.getElementById("myLinks");
  var y = document.getElementById("navTitle");
  if (x.style.display === "block") {
    x.style.display = "none";
    y.style.display = "block";
  } else {
    x.style.display = "block";
    y.style.display = "none";
  }

}
</script>
    <%= render 'shared/nav_bar' %>

    
      <%= yield %>    
    <%= render 'shared/footer' %>
  </body>
</html>
