<!DOCTYPE html>
<html>
  <head>
    <title>Budget_RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id="user_nav">
    <% if current_user %>
      Welcome!! Signed in as <%= current_user.name %>.
      <button>
        <%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link' %>
      </button>
      
      

    <% end %>
  </div>        
  </body>
</html>
